*{
    color: #f9faf8; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid black ;  */
    }


    
.flex-container{ 
    display:flex;  
    flex-direction: column;  
    margin: 0 -5px;
}

.border {
    border: 2px solid black;
    border-radius: 2px; 
}

.row{ 
    display:flex;  
}

.flex-container div{
    flex: 1 1 auto; 
    margin: 20px; 
}

.one{ 
    background-color: #1f2937;
    }

.two{
    
    align-items: center;
}

.box_row{ 
    display:flex; 
   }

.item_box{
    color: #1f2937;
    border: 5px solid #3882f6; 
    height: 100px;
    width: 100px;
    padding: 0px; 
}

.info{
    font-size: 30px;
    font-weight:bolder;
    color: #1f2937; 
    
}

.three{
    background-color: #e5e7eb;
    color: #1f2937;
}

.inspire, .quote{
    color: #1f2937;
    font-size: 20px;
}
.inspire{
    font-style: italic ;
}

.quote{
    font-weight: bold;  
    text-align: right;
}

.four{
    background-color: #3882f6; 
    padding: 5px; 
    margin: 30%;
    border-radius: 12px;
    width: 70%;

}
.center_img{
    display:block;
    margin-left: auto;
    margin-right: auto;

}
.center{
    display: flex;
    align-items: center;
    justify-content: center;


}

h1{ 
    font-size: 48px;
    font-weight: extra-bold;
}

 h2{ 
    font-size: 24px;
}


button{
    background: #3882f6; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border-radius: 8px;
    border-color: white; 
    padding: 10px;
    

}
.stretch{
    background: green; 
    flex: 1 1 auto;
}

.fixed{
    flex: 0 0 0;
    width: 50px;
}
    